  <!-- HEADER -->
  <header class="container">
    <h1>Open Food:<br />Data Captains</h1>
    <div class="tagline">Help make better data for food!</div>
    <!-- TABS -->
    <div id="tabs">
      <ul class="buttons">
        <li><a href="#captains">Data Captains</a></li>
        <li><a href="#signup">Sign up</a></li>
        <li><a href="#info">General Information</a></li>
      </ul>
    </div>
  </header>

  <!-- Home -->
  <div id="home" class="container section">
    <h3>Donate your food obsession for the public good.</h3>

    <p>When you encounter your next favorite specialty ingredient in a new cookbook, in the seed bank, or on a trip to the Carribean, don’t just share your discovery with your companion or dinner party, champion it with a whole internet full of future eaters.</a>

    <p>We are inviting anyone who loves any kind of food to sign up as a Data Captain for Open Food. </a>

    <p>Get a food mission! Data Captains are curators who review lists of food or suggest new ones to expand the list beyond all bounds of culture and habit. </a>

    <p>Our first volunteer Data Captain is an urban farmer who is passionate about the Brassica family. She will not rest until the family that includes broccoli, kale, collards and mustard greens is represented in all its resplendent glory. </a>

    <p>Data Captains are beloved in every corner of the internet and can be recognized by their finely crafted handmade Facebook badges. The populace showers them with free seeds, harvest trips to local farms, and lots of hugs.</a>

    <p>Best of all, Data Captains relish their highest calling: to ordain other Data Captains & shower them with small gifts of seeds passed on from all their devoted followers.  </a>

    <p>Captain Brassica can’t wait to meet her fellow captains-- Captain Cookies, Pickles, Peppers, Latkes, Scotch, Chocolate or (well, maybe not so much) Captain Beans. </a>

    <p>These slots are open but disappearing fast, claim your title!!</a>
  </div>


  <!-- API -->
  <div id="captains" class="container section">
    <h2 class="title">Data Captains</h2> 
    <p>These people have already signed up!</p>
    <div class="captains">
        <div class="category">
        <h4>Tomatoes</h4>
          <ul>
            <li><a href="http://twitter.com/chachasikes">Chacha Sikes</a></li>
          </ul>  
        </div>
        
        <div class="category"> 
        <h4>Brassicas</h4>
          <ul>
            <li>Booka Alon</li>
          </ul>  
        </div>
        
        <div class="category"> 
        <h4>Lettuces</h4>
          <ul>
            <li><a href="http://twitter.com/edibleoffice">Zoey Kroll</a></li>
          </ul>  
        </div>
        <div class="category"> 
        <h4>Lettuces</h4>
          <ul>
            <li><a href="http://twitter.com/edibleoffice">Zoey Kroll</a></li>
          </ul>  
        </div>
    </div>
      
      <dt>People & Organizers</dt>
        <dd>
          <ul>
            <li><a href="http://twitter.com/chachasikes">Chach Sikes</a></li>
          </ul>
        </dd>


  </div>

   <!-- Sign up -->
  <div id="sign_up" class="container section">
    <h2 class="title">Sign Up</h2>
    <dl>
      <dt>Become a Data Captain</dt>
        <dd>Want to help with the list of Foods?
        
        <iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dEdoNHI4b1FLV2Exb2lPWlhfRTAzc0E6MQ" width="760" height="789" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        
        </dd>
      </dl>
  </div>
  
   <!-- Sign up -->
  <div id="info" class="container section">
    <h2 class="title">Info</h2>
    <p>Data Captains are kicking off at SXSW, March 11, 2012.</p>
    <p>Stay tuned for news and blog posts about our progress.
    </p>
  </div>
