<p>What you mean a tomato?</p>

<div id="search">
  <form action="#/search" method="get">
    <input name='name' type='text' placeholder='search for a food thing' size='40'/>
    <input type='submit' value='Search'/>
  </form>
</div>

<div id="main">
</div>
<h2> Data </h2>
<ul id="things">
</ul>

<div id="show_thing"></div>
