<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
  <title>Open Food</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Chivo' rel='stylesheet' type='text/css'>
</head>

<body>
  <%= yield %>

  <footer>
    <p>Open Food 2011 - 2012</p>
  </footer>
<!--   <script src="js/google.js"></script> -->
  </body>
</html>
